:root,
:root[data-theme="light"] {
  --cr-text-50: rgb(244, 236, 249);
  --cr-text-100: rgb(233, 216, 243);
  --cr-text-200: rgb(211, 177, 231);
  --cr-text-300: rgb(189, 139, 218);
  --cr-text-400: rgb(167, 100, 206);
  --cr-text-500: rgb(145, 61, 194);
  --cr-text-600: rgb(116, 49, 155);
  --cr-text-700: rgb(87, 37, 116);
  --cr-text-800: rgb(58, 24, 78);
  --cr-text-900: rgb(29, 12, 39);
  --cr-text-950: rgb(15, 6, 19);

  --cr-bg-50: rgb(242, 237, 247);
  --cr-bg-100: rgb(230, 219, 240);
  --cr-bg-200: rgb(204, 184, 224);
  --cr-bg-300: rgb(178, 148, 209);
  --cr-bg-400: rgb(153, 112, 194);
  --cr-bg-500: rgb(127, 77, 179);
  --cr-bg-600: rgb(102, 61, 143);
  --cr-bg-700: rgb(76, 46, 107);
  --cr-bg-800: rgb(51, 31, 71);
  --cr-bg-900: rgb(25, 15, 36);
  --cr-bg-950: rgb(13, 8, 18);

  --cr-primary-50: rgb(245, 236, 249);
  --cr-primary-100: rgb(236, 216, 243);
  --cr-primary-200: rgb(216, 178, 230);
  --cr-primary-300: rgb(197, 139, 218);
  --cr-primary-400: rgb(177, 101, 205);
  --cr-primary-500: rgb(158, 62, 193);
  --cr-primary-600: rgb(126, 50, 154);
  --cr-primary-700: rgb(95, 37, 116);
  --cr-primary-800: rgb(63, 25, 77);
  --cr-primary-900: rgb(32, 12, 39);
  --cr-primary-950: rgb(16, 6, 19);

  --cr-secondary-50: rgb(249, 236, 246);
  --cr-secondary-100: rgb(243, 216, 236);
  --cr-secondary-200: rgb(230, 178, 218);
  --cr-secondary-300: rgb(218, 139, 199);
  --cr-secondary-400: rgb(205, 101, 181);
  --cr-secondary-500: rgb(193, 62, 162);
  --cr-secondary-600: rgb(154, 50, 130);
  --cr-secondary-700: rgb(116, 37, 97);
  --cr-secondary-800: rgb(77, 25, 65);
  --cr-secondary-900: rgb(39, 12, 32);
  --cr-secondary-950: rgb(19, 6, 16);

  --cr-accent-50: rgb(249, 236, 243);
  --cr-accent-100: rgb(243, 216, 230);
  --cr-accent-200: rgb(231, 177, 206);
  --cr-accent-300: rgb(218, 139, 181);
  --cr-accent-400: rgb(206, 100, 157);
  --cr-accent-500: rgb(194, 61, 132);
  --cr-accent-600: rgb(155, 49, 106);
  --cr-accent-700: rgb(116, 37, 79);
  --cr-accent-800: rgb(78, 24, 53);
  --cr-accent-900: rgb(39, 12, 26);
  --cr-accent-950: rgb(19, 6, 13);

}

:root[data-theme="dark"] {
  --cr-text-50: rgb(15, 6, 19);
  --cr-text-100: rgb(29, 12, 39);
  --cr-text-200: rgb(58, 24, 78);
  --cr-text-300: rgb(87, 37, 116);
  --cr-text-400: rgb(116, 49, 155);
  --cr-text-500: rgb(145, 61, 194);
  --cr-text-600: rgb(167, 100, 206);
  --cr-text-700: rgb(189, 139, 218);
  --cr-text-800: rgb(211, 177, 231);
  --cr-text-900: rgb(233, 216, 243);
  --cr-text-950: rgb(244, 236, 249);

  --cr-bg-50: rgb(13, 8, 18);
  --cr-bg-100: rgb(25, 15, 36);
  --cr-bg-200: rgb(51, 31, 71);
  --cr-bg-300: rgb(76, 46, 107);
  --cr-bg-400: rgb(102, 61, 143);
  --cr-bg-500: rgb(127, 77, 179);
  --cr-bg-600: rgb(153, 112, 194);
  --cr-bg-700: rgb(178, 148, 209);
  --cr-bg-800: rgb(204, 184, 224);
  --cr-bg-900: rgb(230, 219, 240);
  --cr-bg-950: rgb(242, 237, 247);

  --cr-primary-50: rgb(16, 6, 19);
  --cr-primary-100: rgb(32, 12, 39);
  --cr-primary-200: rgb(63, 25, 77);
  --cr-primary-300: rgb(95, 37, 116);
  --cr-primary-400: rgb(126, 50, 154);
  --cr-primary-500: rgb(158, 62, 193);
  --cr-primary-600: rgb(177, 101, 205);
  --cr-primary-700: rgb(197, 139, 218);
  --cr-primary-800: rgb(216, 178, 230);
  --cr-primary-900: rgb(236, 216, 243);
  --cr-primary-950: rgb(245, 236, 249);

  --cr-secondary-50: rgb(19, 6, 16);
  --cr-secondary-100: rgb(39, 12, 32);
  --cr-secondary-200: rgb(77, 25, 65);
  --cr-secondary-300: rgb(116, 37, 97);
  --cr-secondary-400: rgb(154, 50, 130);
  --cr-secondary-500: rgb(193, 62, 162);
  --cr-secondary-600: rgb(205, 101, 181);
  --cr-secondary-700: rgb(218, 139, 199);
  --cr-secondary-800: rgb(230, 178, 218);
  --cr-secondary-900: rgb(243, 216, 236);
  --cr-secondary-950: rgb(249, 236, 246);

  --cr-accent-50: rgb(19, 6, 13);
  --cr-accent-100: rgb(39, 12, 26);
  --cr-accent-200: rgb(78, 24, 53);
  --cr-accent-300: rgb(116, 37, 79);
  --cr-accent-400: rgb(155, 49, 106);
  --cr-accent-500: rgb(194, 61, 132);
  --cr-accent-600: rgb(206, 100, 157);
  --cr-accent-700: rgb(218, 139, 181);
  --cr-accent-800: rgb(231, 177, 206);
  --cr-accent-900: rgb(243, 216, 230);
  --cr-accent-950: rgb(249, 236, 243);
}

:root {
  --nav-height: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100lvh;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--cr-text-950);
  background-color: var(--cr-bg-50);
}
