.sidebar {
  padding: 1rem 0;
  width: 300px;
}

.sidebar a {
  text-decoration: none;
  color: var(--cr-text-primary);
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 1rem;
  width: 100%;
  list-style: none;
}

.sidebar ul > li {
  width: 100%;
  border-radius: 5px;
}

.sidebar li.selected {
  background-color: var(--cr-bg-300);
}

.sidebar li.selected:hover {
  background-color: var(--cr-bg-200);
}

.sidebar li:hover {
  background-color: var(--cr-bg-300);
}

.sidebar li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0.75rem 1.5rem;
  user-select: none;
}

.sidebar li svg {
  width: 1.5rem;
  height: 1.5rem;
}
